[submodule "game-project"]
	path = game-project
	url = https://github.com/dev-parkins/runandgun-game.git
[submodule "ai-orchestrator"]
	path = ai-orchestrator
	url = https://github.com/dev-parkins/ai-orchestration-platform.git
[submodule "vscode-extension"]
	path = vscode-extension
	url = https://github.com/dev-parkins/copilot-delegator-extension.git
[submodule "mcp-infrastructure"]
	path = mcp-infrastructure
	url = https://github.com/dev-parkins/mcp-server-ecosystem.git
[submodule "knowledge-base"]
	path = knowledge-base
	url = https://github.com/dev-parkins/agents-runandgun-docs.git
[submodule "development-tools"]
	path = development-tools
	url = https://github.com/dev-parkins/agents-runandgun-tools.git
